.git
.pytest_cache
.ruff_cache
.venv
.vscode
.agents
.codex
__pycache__
*.pyc

backend/.env
backend/.env.*
backend/.env.docker
backend/**/__pycache__

frontend/.tanstack
frontend/dist
frontend/node_modules

docs
