APP_NAME="Incubyte Salary Management API"
APP_ENVIRONMENT=development
DATABASE_URL=postgresql+psycopg://incubyte:incubyte@localhost:5432/incubyte
APP_DEBUG=false
POSTGRES_USER=incubyte
POSTGRES_PASSWORD=incubyte
POSTGRES_DB=incubyte
